<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>

<body>
    <form method="POST" action="../controllers/studentAdd.php">
        <p>CIN : <input type="text" name="cin"></p>
        <p>Nom : <input type="text" name="nom"></p>
        <p>Prenom : <input type="text" name="prenom"></p>
        <p>Age : <input type="text" name="age"></p>
        <p>Email : <input type="text" name="email"></p>
        <input type="submit" value="Add">
    </form>
</body>

</html>